.today {
    background-color: #ffec88;
}
.leave {
    background-color: #a3c1f0;
}
.issued {
    background-color: yellow;
}

.container, .TABLE {
    display: flex;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td{
    padding: 8px;
}